
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: -100px;
}
.activeTeam {
padding: 0 10px;
}
.count {
padding: 0 10px;

}
.nextTeam{
    border: 1px solid black;
padding: 0 10px;
cursor: pointer;
}

.nextTeam:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(95, 88, 88);
padding: 0 10px;
cursor: pointer;
transition: 1s;
}